* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
}

:root {
    --primary-text-color: #3238F2;
    --padding-inline-section: 20px;
}

#container {
    max-width : 1480px;
    margin-inline : auto;
    padding-inline: var(--padding-inline-section);
}

#navbar-menu {
    padding: 12px;
    line-height: 48px;
}

#nav-menulist:hover  {
    color: var(--primary-text-color);
}

#developer-toggle-button {
    padding: 5px 15px;
}

#toggle-menubar {
    padding: 10px 65px;
}

#toggle-menu-button {
    padding: 5px;
    margin-top: 40px;
    margin-left: 60px;
}