* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
}

:root {
    --primary-text-color: #3238F2;
    --padding-inline-section: 20px;
}

#container {
    max-width : 1480px;
    margin-inline : auto;
    padding-inline: var(--padding-inline-section);
}
 
 #navbar-menu {
     padding: 12px;
     line-height: 48px;
     box-shadow: 0 5px 10px rgba(161, 161, 161, 0.5);
     opacity: 0.5;
}

#nav-menulist:hover  {
    color: var(--primary-text-color);
}

#developer-toggle-button {
    padding: 5px 15px;
}

#toggle-menubar {
    padding: 10px 65px;
}

#toggle-menu-button {
    padding: 5px;
    margin-top: 40px;
    margin-left: 60px;
}

/* Hero section */
#hero-section {
    max-width: 700px;
    margin-inline: auto;   
}

#version-box {
    padding: 5px 12px;   
    margin-top: 100px;
    transition: all 0.3s ease-in-out;
}

#version-box:hover {
    transform: translateY(-10px);
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
}

#version-box:hover i {
    transform: translateX(3px);
    transition: all 0.3s ease-in-out;

}

#hero-sect-btn button:nth-child(1) {
    background-color: var(--primary-text-color)!important;
    color: white;
    padding: 7.5px 20px;
}

#hero-sect-btn button:nth-child(2) {
    padding: 7.5px 20px;
}


#app-section{
    margin-top: 20px;
}

#app-section img{
    margin-top: 10px;
}

#version-box-mobile {
    margin-top: 50px;
    margin-left: calc(-60px);
    padding: 5px 12px;
}

#version-box-mobile:hover {
    transform: translateY(-10px);
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
}

#version-box-mobile:hover i {
    transform: translateX(3px);
    transition: all 0.3s ease-in-out;
}

#hero-sect-mobile-btn button:nth-child(1) {
    background-color: var(--primary-text-color)!important;
    color: white;
    padding: 13px 20px;
}

#hero-sect-mobile-btn button:nth-child(2) {
    padding: 13px 20px;
}


